/*====================[Averta]====================*/
@font-face{
  font-family:'UTM Nokia Regular';
  src:url('../fonts/utm-nokia/UTM Nokia.ttf') format('truetype');
  font-weight:normal;
  font-style:normal;
}